<main>
    <header class="page-header page-header-dark">
        <div class="container-fluid">
            <div class="row breadcrumb">
                <ol class="breadcrumb-arrow pull-left col-8 margin-0">
                    <li><h4>Organizational Chart

</h4></li>
                </ol>

                <ol class="breadcrumb-arrow pull-right col-4 margin-0">
                    <li>
                        <a href="#"><i class="fa fa-fw fa-home"></i></a>
                    </li>
                    <li class=""><a href="#">About Us </a></li>
                    <li class=""><a href="#">Organizational Chart

</a></li>
                </ol>
            </div>
        </div>
    </header>
    <!-- Main page content-->

    <div class="container-fluid mt-n10">
    
<div class="center text-center col-12">	<h4>1)	Organogram ( संस्थात्मक संरचना )  </h4> </div>
    
<div class="container text-center">
<div class="row">
<div class="col-4 bx"> मा. अध्यक्ष 
( Chairperson )
</div>
</div>
<div class="row">
<div class="col-6 right-line"></div>
<div class="col-6"></div>
</div>
<div class="row">
<div class="col-3 right-line"></div>
<div class="col-3 top-line"></div>
<div class="col-3 right-line top-line"></div>
<div class="col-3"></div>
</div>
<div class="row">

<div class="col-4 bx yellow-color ">मा. न्यायिक सदस्य  ( Judicial Member )</div>
<div class="col-4 bx blue-color">     मा.प्रशासकीय सदस्य (Administrative Member) </div>

</div>
<div class="row">
<div class="col-3 right-line"></div>
<div class="col-3"></div>
<div class="col-3 right-line"></div>
<div class="col-3"></div>
</div>
<div class="row">
<div class="col-3"></div>
<div class="col-3 top-line right-line"></div>
<div class="col-3 top-line"></div>
<div class="col-3"></div>
</div>
<div class="row">
<div class="col-4 bx"> प्रबंधक     (Registrar) 

</div>
</div>
<div class="row">
<div class="col-6 right-line"></div>
<div class="col-6"></div>
</div>



<div class="row">
<div class="col-3 p-0">
<div class="halved right-line"></div>
<div class="halved top-line"></div>
</div>
<div class="col-3 p-0">
<div class="halved right-line top-line"></div>
<div class="halved top-line"></div>
</div>
<div class="col-3 p-0">
<div class="halved right-line top-line"></div>
<div class="halved top-line"></div>
</div>
<div class="col-3 p-0">
<div class="halved right-line top-line"></div>
<div class="halved"></div>
</div>
</div>
<div class="row">
<div class="col-2 bx blue-color">न्यायिक विभाग  ( Judicial Department )</div>
<div class="col-2 bx  yellow-color">माहिती तंत्रज्ञान विभाग  ( IT Department ) </div>
<div class="col-2 bx blue-color">प्रशासकीय विभाग  ( Administrative Department )    </div>
<div class="col-2 bx yellow-color">वित्तीय विभाग  ( Account Department )</div>
</div>
<div class="row">
<div class="col-3 p-0">
<div class="halved right-line"></div>
<div class="halved "></div>
</div>
<div class="col-3 p-0">
<div class="halved right-line"></div>
<div class="halved "></div>
</div>
<div class="col-3 p-0">
<div class="halved right-line"></div>
<div class="halved"></div>
</div>
<div class="col-3 p-0">
<div class="halved right-line "></div>
<div class="halved"></div>
</div>
</div>

<div class="row">
<div class="col-3 p-0">
<div class="halved right-line"></div>
<div class="halved"></div>
</div>
<div class="col-3 p-0">
<div class="halved right-line"></div>
<div class="halved"></div>
</div>
<div class="col-3 p-0">
<div class="halved right-line"></div>
<div class="halved"></div>
</div>
<div class="col-3 p-0">
<div class="halved right-line"></div>
<div class="halved"></div>
</div>
</div>





<div class="row">
<div class="col-2 bx yellow-color">उ.श्रे.लघुलेखक ( H.G. Steno )                 </div>
<div class="col-2 bx blue-color">माहिती तंत्रज्ञान अधिकारी ( I.T. Officer ) </div>
<div class="col-2 bx yellow-color">खाजगी सचिव ( Private Secretary )</div>
<div class="col-2 bx blue-color">लेखाधिकारी ( Account Officer )</div>
</div>

<div class="row">
<div class="col-3 p-0">
<div class="halved right-line"></div>
<div class="halved "></div>
</div>
<div class="col-3 p-0">
<div class="halved right-line"></div>
<div class="halved "></div>
</div>
<div class="col-3 p-0">
<div class="halved right-line"></div>
<div class="halved"></div>
</div>
<div class="col-3 p-0">
<div class="halved right-line "></div>
<div class="halved"></div>
</div>
</div>



<div class="row">
<div class="col-3 p-0">
<div class="halved right-line"></div>
<div class="halved"></div>
</div>
<div class="col-3 p-0">
<div class="halved right-line"></div>
<div class="halved"></div>
</div>
<div class="col-3 p-0">
<div class="halved right-line"></div>
<div class="halved"></div>
</div>
<div class="col-3 p-0">
<div class="halved right-line"></div>
<div class="halved"></div>
</div>
</div>
<div class="row">
<div class="col-2 bx blue-color">नि.श्रे. लघुलेखक   ( L.G. Steno )             </div>
<div class="col-2 bx yellow-color">तांत्रिक सहायक( Technical Assistant )         </div>
<div class="col-2 bx blue-color"> वैयक्तिक सहायक ( Personal Assistant )      </div>
<div class="col-2 bx yellow-color">लेखापाल ( Accountant )         
</div>
</div>

<div class="row">
<div class="col-3 p-0">
<div class="halved right-line"></div>
<div class="halved "></div>
</div>
<div class="col-3 p-0">
<div class="halved"></div>
<div class="halved "></div>
</div>
<div class="col-3 p-0">
<div class="halved right-line"></div>
<div class="halved"></div>
</div>
<div class="col-3 p-0">
<div class="halved"></div>
<div class="halved"></div>
</div>
</div>
<div class="row">
<div class="col-3 p-0">
<div class="halved right-line"></div>
<div class="halved"></div>
</div>
<div class="col-3 p-0">
<div class="halved "></div>
<div class="halved"></div>
</div>

<div class="col-3 p-0">
<div class="halved right-line"></div>
<div class="halved"></div>
</div>
<div class="col-3 p-0">
<div class="halved"></div>
<div class="halved"></div>
</div>

</div>

<div class="row">

<div class="col-4  bx">लघुटंकलेखक   ( Steno Typist ) </div>
<div class="col-4 bx">     अधीक्षक           ( Superintendent )  </div>

</div>

<div class="row">
<div class="col-3 p-0">
<div class="halved right-line"></div>
<div class="halved "></div>
</div>
<div class="col-3 p-0">
<div class="halved "></div>
<div class="halved "></div>
</div>
<div class="col-3 p-0">
<div class="halved right-line"></div>
<div class="halved"></div>
</div>
<div class="col-3 p-0">
<div class="halved"></div>
<div class="halved"></div>
</div>
</div>

<div class="row">
<div class="col-3 p-0">
<div class="halved right-line"></div>
<div class="halved"></div>
</div>
<div class="col-3 p-0">
<div class="halved"></div>
<div class="halved"></div>
</div>

<div class="col-3 p-0">
<div class="halved right-line"></div>
<div class="halved"></div>
</div>
<div class="col-3 p-0">
<div class="halved"></div>
<div class="halved"></div>
</div>

</div>





<div class="row">

<div class="col-4  bx">वरिष्ठ लिपिक (शिरस्तेदार)  ( Senior Clerk ) (Sheristedar)</div>
<div class="col-4 bx">   सहायक अधीक्षक  ( Assistant Superintendent ) </div>

</div>
<div class="row">
<div class="col-3"></div>
<div class="col-3"></div>
<div class="col-3 right-line"></div>
<div class="col-3"></div>
</div>

<div class="row">
<div class="col-3"></div>
<div class="col-3 right-line"></div>
<div class="col-3 top-line"></div>
<div class="col-3"></div>
</div>

<div class="row">
<div class="col-4 bx">वरिष्ठ लिपिक    ( Senior Clerk )  
</div>
</div>


<div class="row">
<div class="col-3"></div>
<div class="col-3 right-line"></div>
<div class="col-3"></div>
<div class="col-3"></div>
</div>


<div class="row">
<div class="col-4 bx">कनिष्ठ लिपिक ( Junior Clerk )</div>
</div>



</div>
    </div>
</main>