<footer class="footer mt-auto footer-light">
    <div class="col-md-12 col-lg-12">
        <div class="row">
            <div class="col-md-6 col-lg-6">
            
                    <div class="row" style="padding:30px;">
                    
                        <a class="navbar-brand col-md-2 col-lg-2" ><img class="img-fluid logo" src="/assets/images/logo-single.svg" /></a>
                  
                    
                        <p class="col-md-9 col-lg-9"><b>Address : Maharashtra Real Estate Appellate Tribunal,<br> One Forbes, Forbes St, Kala Ghoda, Fort,<br> Mumbai, Maharashtra 400001</b></p>
                   

                   </div>
              
            </div>

            <div class="col-md-3 col-lg-3" style="    border-left: 1px solid #e5e5e5;
border-right: 1px solid #e5e5e5;">
                <ul class="footer-ul">
                    <li>
                        <p><b style="font-size: 17px;" class="headermsg">Important Links</b></p>

                        <p><a href="https://bombayhighcourt.nic.in/index.php" target="_blank">Bombay High Court </a></p>
                        <p><a href="https://www.maharashtra.gov.in/" target="_blank">Government of Maharashtra </a></p>
                        <p><a href="https://maharera.maharashtra.gov.in/" target="_blank">Maharashtra Real Estate Regulatory Authority</a></p>
                        <p><a href="https://www.sci.gov.in/" target="_blank">Supreme Court of India</a></p>
                    </li>
                </ul>
            </div>
            <div class="col-md-3 col-lg-3">
                <ul class="footer-ul">
                    <li>
                        <p><b style="font-size: 17px;" class="headermsg">Contact us</b></p>

                        <p>
                            <a href="#">
                                Phone No : 022 22710200
                            </a>
                        </p>
                        <p><a href="#"> Email : it.mahareat@gmail.com</a></p>
                        <p><a href="#"> Availability : 10.30 to 17.00</a></p>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="col-md-12 col-lg-12 lw-ft">
        <div class="row">
            <div class="col-md-12 small text-center">Copyright © 2023 Maharashtra Real Estate Regulatory Authority. All rights reserved.</div>
        </div>
    </div>
</footer>
