<main>
    <header class="page-header page-header-dark">
        <div class="container-fluid">
            <div class="row breadcrumb">
                <ol class="breadcrumb-arrow pull-left col-8 margin-0">
                    <li>
                        <h4>Key Officials Profile
                        </h4>
                    </li>
                </ol>

                <ol class="breadcrumb-arrow pull-right col-4 margin-0">
                    <li>
                        <a href="#"><i class="fa fa-fw fa-home"></i></a>
                    </li>
                    <li class=""><a href="#">About Us </a></li>
                    <li class=""><a href="#">Key Officials Profile
                        </a></li>
                </ol>
            </div>
        </div>
    </header>
    <!-- Main page content-->

    <div class="container-fluid mt-n10">
        <div class="row margin-0">
            <div class="col-md-12 col-lg-12">
                <div class="card mb-4">
                    <div class="card-header">Key Officials Profile
                    </div>
                    <div class="card-body">
                        <div class="row">

                            <hr />
                            <div class="form-group col-md-12">
                                <div class="row">

                                    <div class="col-md-12">
                                        <div class="panel panel-default">
                                            <div class="panel-body">
                                                <div class="table-container">

                                                    <table class="table table-striped custab">
                                                        <thead>

                                                            <tr>
                                                                <th>Name</th>
                                                                <th>Designation
                                                                </th>
                                                                <th>Email ID
                                                                </th>
                                                                <th class="text-center">Contact No
                                                                </th>
                                                            </tr>
                                                        </thead>
                                                        <tr>
                                                            <td></td>
                                                            <td></td>
                                                            <td></td>
                                                            <td class="text-center"></td>
                                                        </tr>
                                                        <tr>
                                                            <td></td>
                                                            <td></td>
                                                            <td></td>
                                                            <td class="text-center"></td>
                                                        </tr>
                                                        <tr>
                                                            <td></td>
                                                            <td></td>
                                                            <td></td>
                                                            <td class="text-center"></td>
                                                        </tr>
                                                    </table>

                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>