<div class="col-md-12 col-lg-12">
        
    <div class="card mb-4">
        <div class="card-header">Hon’ble Shriram Jagtap </div>
        <div class="card-body">
         
                <div class="form-group ">
                    <div class="row">
                     
                            <div class="col-md-2">
                                <img class="img-fluid hsize" src="/assets/images/Justice Shriram R. Jagtap.jpg" />
                            </div>
                            <div class="col-md-10">
                                <h5>Profile</h5>
                                <small>
                                </small>
                                <br />
                                <div>
                                    <p>Maharashtra Real Estate Appellate Tribunal for States of Maharashtra and Goa ( w.e.f.).</p> 
                                    <h5>Educational Qualifications: </h5>
                                    <p>•   B.Com , LLB (Marathwada University) <br>
                                    
                                    Prominent Positions held in Govt. of Maharashtra India: <br>
                                    •   Joined Judiciary as Civil Judge Junior Division and Judicial Magistrate First Class <br>
                                    •   Promoted as Civil Judge Senior Division worked at Kandhar (Nanded)  <br>
                                    •   Worked as Metropolitan Magistrate, Mumbai and School Tribunal at Nashik.<br>
                                    •   Promoted as District Judge and worked at City Civil Court, Mumbai, Rajgurunagar (Pune), Nanded and Ahmednagar. <br>
                                    •   Appointed as Principal District Judge at Sindhudurg.<br>
                                    •   Worked as Principal District Judge at Nanded <br>
                                </p> 
                                    <p>
                                        Sports Achievements: <br>
                                    •   Inter-University captaincy for chess championship (Captain for one year) <br>
                                    •   Inter-Collegiate Chess championship Trophy Winner <br>
                                    </p>
                                    <button class="btn" style="height:40px;width:120px;;background-color:brown;color:#fff" (click)="closePopup1()">Back</button>                                  
                                </div>
                            </div>
                       
                        
                    </div>
               
            </div>
        </div>
    </div>
</div>