<div class="col-md-12 col-lg-12">
        
    <div class="card mb-4">
        <div class="card-header">Hon’ble S.S. Sandhu </div>
        <div class="card-body">
         
                <div class="form-group ">
                    <div class="row">
                     
                            <div class="col-md-2">
                                <img class="img-fluid hsize" src="/assets/images/Mr. S. S. Sandhu, IAS (Retd.).jpg" />
                            </div>
                            <div class="col-md-10">
                                <h5>Profile</h5>
                                <small>
                                Tenure: 26/12/2018 - 07/07/2023
                                </small>
                                <br />
                              <div>
                                <p>Hon’ble Former Member, (Tech/Administrative), 
                                    Maharashtra Real Estate Appellate Tribunal for States of Maharashtra and Goa w.e.f. 24th  December, 2018 to 08th July, 2023).</p>

<h5>Educational Qualifications: </h5>
<p>M.A. (Political Science), M.A.  in Development Administration (UK), and Bachelor of Laws (LLB). <br>
Joined Indian Police Service (1983-Punjab Cadre) <br>
Joined Indian Administrative Service (1984-Maharashtra Cadre)</p> 
<p>
Prominent Positions held in Govt. of Maharashtra/ India:<br>
1.  Chief Executive Officer Solapur and Parbhani Zilla Parishads <br>
2.  Collector and District Magistrate Parbhani and Jalgaon Districts <br>
3.  Chief Officer, Mumbai Housing Board (MHADA) <br>
4.  Zonal Joint Director General, Foreign Trade (Western Zone- Maharashtra, Gujarat, Goa, Madhya Pradesh and Chhattisgarh States) <br>
5.  Divisional Commissioner, Konkan (Mumbai) Division <br>
6.  Principal Secretary Rural Development Department Government of Maharashtra <br>
7.  Principal Secretary Revenue and Forest Department, Government of Maharashtra <br>
8.  Addl Chief Secretary (Co-Operation), Department of Co-operation, Marketing and   Textile, Government of Maharashtra till retirement on 31st July 2018. <br>

</p>

                              </div>



                                    <button class="btn" style="height:40px;width:120px;background-color: brown;color:#fff;" (click)="closePopup1()">Back</button>
                            </div>
                       
                        
                    </div>
               
            </div>
        </div>
    </div>
</div>