<div class="col-md-12 col-lg-12">
        
    <div class="card mb-4">
        <div class="card-header">Hon’ble Dr. K. Shivaji  </div>
        <div class="card-body">
         
                <div class="form-group ">
                    <div class="row">
                     
                            <div class="col-md-2">
                                <img class="img-fluid hsize" src="/assets/images/Dr.Kshatrapati Shivaji, IAS (Retd.).jpg" />
                            </div>
                            <div class="col-md-10">
                                <h5>Profile</h5>
                                <small>
                                </small>
                                <br />
                              <p>  Hon’ble Member, (Tech/Administrative), 
Maharashtra Real Estate Appellate Tribunal for States of Maharashtra and Goa ( w.e.f.). 
Born on  </p>
<h5>Educational Qualifications: </h5>
<p>
•    B.Sc. Engineering (Civil) <br>
•    MTech from I.I.T. Delhi, in Building Science & Construction Management.<br>
•    M.A. In Economics, <br>
•    PGDM from MDI, Gurgaon with Electives in International Finance. <br>
•    Ph.D., in the field of Management, Finance. <br>
•   Online non-credit courses offered through Coursera:  <br>
       Financial Planning for Young Adults - University of Illinois at Urbana-Champaign –Jan 2021 <br>
       Personal & Family Financial Planning by University of Florida – Feb 2021 <br>
Prominent Positions held in Govt. of Maharashtra & Govt. of India <br>
•   Asst. Collector, UT Palghat <br>
•   Project Co-ordinator, World Bank Project IT Dept. Kerala <br>
•   Managing Director, Kerala State Co-operative Bank, Trivendrum  <br>
•   Managing Director, Kerala Financial Corporation, Trivendrum <br>
•   Director, Department of Economic Affairs, Ministry of Finance, GOI <br>
•   Director, Marine Export Development Authority, New York, USA <br>
•   Managing Director, MAFCO Ltd. Mumbai <br>
•   Chairman & Managing Director, Maharashtra State Financial Corporation, Mumbai <br>
•   Development Commissioner (Industries), Govt. of Maharashtra <br>
•   Secretary, Information Technology, Govt of Maharashtra <br>
•   Chief Executive Officer, <br>
Maharashtra Industrial Corporation, Govt. of Maharashtra, Mumbai <br>
•    Principal Secretary (Expenditure) & Additional charge of Principal Secretary (Financial Reforms) Govt. of Maharashtra <br>
•   Chairman & Managing Director, <br> 
Small Industries Development Bank of India, Govt of India <br>
•   Dean of the Board & Ambassador and Executive Director, Asian Development Bank (ADB) Manila. <br>
•   Secretary Govt. of India , Dept. of Administrative Reforms and Dept. of pensions in the ministry of personnel . <br>
•   Secretary Dept. of statistics and Chief Statistician of India <br>
</p>            
<button class="btn" style="height:40px;width:120px;;background-color:brown;color:#fff" (click)="closePopup2()">Back</button>
<div>
</div>


                            </div>
                       
                        
                    </div>
               
            </div>
        </div>
    </div>
</div>