<div class="container-fluid mt-n10">
    <div class="row margin-0">
        <div>
            <div class="card mb-4">
                <div class="card-header">Introduction

                </div>
                <div class="card-body">
                    <ul style="margin: 0; list-style:none; padding: 0 20px;">
                        <li>
                            Maharashtra Real Estate Appellate Tribunal, Fort Mumbai office started on 24.12.2018. The
                            Government of Maharashtra has established the Maharashtra Real Estate Appellate Tribunal
                            Office to appeal against the decision, direction or order given by the Maharashtra Real
                            Estate Regulatory Authority (Maharera) if the complainant is not satisfied with that
                            decision, direction or order.
                        </li>

                    </ul>
                </div>
            </div>
        </div>
        <div>
            <div class="card mb-4">
                <div class="card-header">Objectives of Real Estate (Regulation & Development) Act, 2016
                </div>
                <div class="card-body">
                    <ul style="margin: 0; padding: 0 20px;">
                        <li>
                            To file an appeal against the decision, direction or order given by the office of
                            Maharashtra Real Estate Regulatory Authority (MAHRERA) in respect of registered or
                            unregistered construction projects if the complainant person or organization is not
                            satisfied with that decision, direction or order.

                        </li>
                        <li>
                            To verify the appeals filed in the Maharashtra Real Estate Appellate Tribunal and get due
                            justice to the complainant person or organization at the earliest.
                        </li>
                        <li>
                            Providing certified copy of judgments, directions or orders passed through the office of
                            Maharashtra Real Estate Appellate Tribunal.
                        </li>
                        <li>
                            To help the person or organization who comes to the Maharashtra Real Estate Appellate
                            Tribunal office for justice by providing proper guidance to get justice.
                        </li>

                    </ul>
                </div>
            </div>

            <hr>



            <div class="card mb-4">
                <div class="card-header">Jurisdiction</div>
                <div class="card-body">
                    <ul style="margin: 0; list-style:none; padding: 0 20px;">
                        <li>The Maharashtra Real Estate Appellate Tribunal Office includes Maharashtra State, the Union
                            Territories of Diu Daman and Dadra Nagar Haveli and Also, from the year 2021, appeals
                            related to the Real Estate Regulatory Authority of Goa State come under this office.


                        </li>

                    </ul>
                </div>
            </div>




        </div>



    </div>
</div>