<div class="col-md-12 col-lg-12">
            
    <div class="card mb-4">
        <div class="card-header">Hon’ble Justice Indira Jain 
</div>
        <div class="card-body">
         
                <div class="form-group ">
                    <div class="row">
                     
                            <div class="col-md-2">
                                <img class="img-fluid hsize" src="/assets/images/Justice Ku. Indira  K. Jain.jpg" />
                            </div>
                            <div class="col-md-10">
                                <h5>Profile</h5>
                                <small>
                                    Tenure: 26/12/2018 - 19/12/2022
                                </small>
                                <br />
                               <div>
                               <p> Hon’ble Former Chairperson, Mahareat  (Retd.) 
                                Maharashtra Real Estate Appellate Tribunal for States of Maharashtra and Goa w.e.f.              ).</p>

<h5>Educational Qualifications:</h5> 
<p>
B.A, LLB, LLM (National Merit and ULG Scholarship Holder) 
        Stood first in the order of merit in BGL & LLB Examinations in 1978. <br>

Achievements  
•   Recipient of Motilal Nehru Centenary Gold Medal .<br>
•   Narendraji Tidke Gold Medalist .<br>
•   Bhaiya Saheb Mankeshwar Gold Medalist. <br>
•   Rai Sahib R.Banerji Silver Medalist.  <br>
•   Diwan Bahadur R. Pandit Silver Medalist.<br>
•   Shri Chimanlal Setalwad Golden Jubilee Prize winner.<br>
•   Shri Chondro Ghosh Memorial Prize winner.  <br>
</p>
<p>
Prominent Positions held in Govt. of Maharashtra/ India: <br>
1.  Worked as Auditor in the office of the Accountant General Maharashtra II, Nagpur.<br> 
2.  Appointed as Lecturer in Post Graduate Teaching Department in Law, Nagpur University. <br>
3.  Joined Judicial Service in the cadre of Civil Judge , Junior Division and Judicial Magistrate, First Class (1984).<br>
4.  Joint Director and Director of  JOTI (Maharashtra) Nagpu and Joint Director of Maharashtra Judicial Academy and Indian Mediation Centre and Training Institute, Uttan.<br>
5.  Worked as common District and Sessions Judge, Union Territory of Dadra and Nagar Haveli, Daman and Diu.<br>
6.  Principal District and Sessions Judge, Yavatmal, Jalgaon and Nasik and Administrative Member Industrial Court at Nagpur.<br>
7.  Registrar, High Court of Judicature at Bombay, Bench at Goa and Principal, Government Law College, Mumbai. Elevated as Additional Judge of the Bombay High Court on 1st January, 2015.<br>
8.  Appointed as Chairperson , MahaREAT  
</p>


                               </div>

<div><button class="btn" style="height:40px;width:120px;background-color: brown;color:#fff;" (click)="closePopup()">Back</button></div>
                                
                     
                              
                                
                            </div>
                    
                        
                    </div>
               
            </div>
        </div>
    </div>
</div>