
<div class="topStrip">
    <div class="container-fluid">
        <div class="row">
            <div class="col-10 col-md-4 col-lg-4 col-xl-4">
                <ul>
                    <li>
                        <!-- <a href="/sitemap" data-drupal-link-system-path="sitemap">Sitemap</a> -->
                        <a href="#" data-drupal-link-system-path="sitemap">Sitemap</a>
                    </li>
                    <li>
                        <!-- <a href="/faq" data-drupal-link-system-path="faq">FAQs</a> -->
                        <a href="#" data-drupal-link-system-path="faq">FAQs</a>
                    </li>
                    <li>
                        <!-- <a href="/feedback-form" data-drupal-link-system-path="node/add/feedback_form">Feedback</a> -->
                        <a href="#" data-drupal-link-system-path="node/add/feedback_form">Feedback</a>
                    </li>
                </ul>
            </div>
            <div class="col-2 col-md-8 col-lg-8 col-xl-8 rightTopStrip d-flex justify-content-end">
                <ul class="smallFont">
                    <li><a tabindex="1" href="#content">Skip to Content</a></li>
                    <li><a href="#">Screen Reader Access</a></li>
                    <li class="fontResize">
                        <div id="accessControl" class="textResizeWrapper">
                            <input type="button" name="font_small" value="A-" id="font_normal" title="Decrease Font Size" class="fontScaler large" />
                            <input type="button" name="font_normal" value="A" id="font_large" title="Normal Font Size" class="fontScaler normal" />
                            <input type="button" name="font_large" value="A+" id="font_larger" title="Increase Font Size" class="fontScaler largest" />
                        </div>
                    </li>
                    <!-- <li class="d-none d-md-inline-block aL"><a class="bg-light text-dark border-2" title="High Contrast" href="#">A</a></li>
                    <li class="d-none d-md-inline-block aD"><a class="bg-dark text-light border-2" title="Low Contrast" href="#">A</a></li> -->
                    <li class="language">
                        <div id="block-dropdownlanguage">
                            <div class="dropbutton-wrapper dropbutton-multiple" data-once="dropbutton">
                                <div class="dropbutton-widget">
                                    <ul class="dropdown-language-item dropbutton">
                                      
                                        <li class="nav-item dropdown">
                                            <a
                                                class="btn btn-icon btn-transparent-dark dropdown-toggle"
                                                id="navbarDropdownUserImage"
                                                href="javascript:void(0);"
                                                role="button"
                                                data-toggle="dropdown"
                                                aria-haspopup="true"
                                                aria-expanded="false"
                                            >
                                                English
                                            </a>

                                            <div class="dropdown-menu dropdown-menu-right border-0 shadow animated--fade-in-up" aria-labelledby="navbarDropdownUserImage">
                                                <h6 class="dropdown-header d-flex align-items-center">
                                                    <div class="dropdown-user-details">
                                                        <div class="dropdown-user-details-name">मराठी</div>
                                                    </div>
                                                </h6>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<app-top-nav></app-top-nav>
